* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    height: 100%;
}

input:focus-visible {
    outline: none;
}

.title {
    width: 100%;
    padding: .5rem;
    color: rgba(125, 134, 142, 1);
    box-shadow: 2px 0 5px rgba(125, 134, 142, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title h2 {
    margin-left: 0.5rem;
    font-weight: 500;
}

.poke-icon {
    width: 24px;
    height: 24px;
    background-color: rgba(125, 134, 142, 1);
    border-radius: 50%;
    color: #fff;
}

.actions {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actions .refresh-btn {
    width: 90%;
    padding: 1rem 0;
    margin: .625rem;
    border-radius: 5px;
    border: none;
    background-color: #1976d2;
    color: #fff;
}

.actions .select-label {
    width: 90%;
    font-size: 20px;
    font-weight: 300;
}

.actions .select-label .select-container {
    display: flex;
    margin: 1rem 0;
    padding: .65rem;
    background-color: #252525;
    border-radius: 5px;
    color: #fff;
}

.actions .select-label .select-container .pokeball {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
    color: #252525;
}

.actions .select-label .select-container select {
    width: 100%;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 14px;
}

.actions .select-label .select-container select option {
    background-color: #424242;
}

.load-container {
    margin: 1rem;
    display: flex;
    justify-content: center;
}

.load-container .btn-load-more {
    width: 100%;
    max-width: 250px;
    padding: 0.5rem 0;
    font-size: 16px;
    border: 1px solid rgba(0,0,0,0.16);
    border-radius: 24px;
    background: #fff;
    color: rgba(125, 134, 142, 1);
    transition: .5s;
    margin: 1rem auto;
}

.load-container .btn-load-more:hover {
    cursor: pointer;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

.hidden {
    display: none;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

.load {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #424242;
    color: #fff;
}

.load svg {
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.5s ease-in;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 1.0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    transition: all 0.5s ease-in;
    animation-name: rotate;
    animation-duration: 1.0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@media screen and (min-width: 768px) {
    .actions {
        flex-direction: row;
        align-items: end;
    }

    .actions .refresh-btn {
        width: 60%;
    }

    .actions .select-label {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

    .actions .select-label .select-container {
        margin-left: 0.625rem;
    }
}

@media screen and (min-width: 1200px) {
    .actions .select-label .select-container {
        width: 50%;
    }
}